<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />

</head>
<body class="">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
                <a class="nav-link" href="/users">login <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/users/dashboard">dashboard</a>
            </li>

            <li class="nav-item">
                <a class="nav-link " href="/ticket">search</a>
            </li>
        </ul>

    </div>
</nav>
<div class="m-5 container-fluid text-center alert alert-success">
    thank you <span th:if="${result}">[[${result}]]</span>
</div>
<div class="m-5 container-fluid text-center">
    <!--    <img src="https://s4.uupload.ir/files/3124381_sbch.png" alt="Italian Trulli" width="300rem" height="300rem">-->
</div>
</body>
</html>