<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />

</head>
<body class="">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
                <a class="nav-link" href="/users">login <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/users/dashboard">dashboard</a>
            </li>

            <li class="nav-item">
                <a class="nav-link " href="/ticket">search</a>
            </li>
        </ul>

    </div>
</nav>
<div th:if="${result}" class="m-5  text-center alert alert-success">
    thank you <span th:if="${result}">[[${result}]]</span>
</div>
<div class="container-fluid ">
    <table class="table table-bordered text-center">
        <thead class="thead-dark">
        <tr>

            <th colspan="3" class="text-center">
                bought tickets
            </th>

        </tr>
        <tr>
            <th>moving date</th>
            <th>ticket id</th>
            <th>select</th>
        </tr>
        <tbody>
        <tr th:if="${error}">
            <td colspan="3">
                <div class="alert alert-danger"> [[${error}]]</div>
            </td>
        </tr>
        <th:block th:each="ticket : ${bought}">
            <tr>
                <td>[[${ticket.trip.movingDate}]]</td>
                <td>[[${ticket.id}]]</td>
                <td>
                    <a class="h4 mr-3" th:href="@{'/ticket/show/' +${ticket.id}}">preview</a>
                    <!--                    <a class="h4" th:href="@{'/users/delete/' + ${trip.id}}">Delete</a>-->
                </td>
            </tr>
        </th:block>

        </tbody>

    </table>
    <div style="height: 5rem"></div>

</div>
</body>
</html>