<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />

</head>
<body class="">
<div class="m-5 container-fluid text-center">
    <h1 class="display-3 font-weight-bold">welcome to bus ticket booking</h1>
    <a class="h2" th:href="@{/users}">login to system</a>
</div>
<div class="m-5 container-fluid text-center">
    <img src="https://s4.uupload.ir/files/3124381_sbch.png" alt="Italian Trulli">
</div>
</body>
</html>