<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />

</head>
<body class="">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
                <a class="nav-link" href="/users">login <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/users/dashboard">dashboard</a>
            </li>

            <li class="nav-item">
                <a class="nav-link " href="/ticket">search</a>
            </li>
        </ul>

    </div>
</nav>
<div class="row d-flex justify-content-center">
<div class="m-5 col-4 " >
    <form th:action="@{/users/login}" method="post">
        <div class="form-group">
            <label for="user-name">user name</label>
            <input type="text" name="user-name" class="form-control" id="user-name" aria-describedby="user-name" placeholder="Enter user name">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" class="form-control" id="password" placeholder="Password">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
</div>
<div class="row d-flex justify-content-center">
    <div class=" col-4 " >
        <div class=" alert-danger alert" th:if="${error}">[[${error}]]</div>
    </div>
</div>
</body>
</html>