<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>

</head>
<body class="">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
                <a class="nav-link" href="/users">login <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/dashbord">dashboard</a>
            </li>

            <li class="nav-item">
                <a class="nav-link " href="/ticket">search</a>
            </li>
        </ul>

    </div>
</nav>
<div class="row  ">
    <form class="p-4  col-12 text-center" th:action="@{/ticket/search}" method="post">
        <label for="moving-date">moving date : </label>
        <input type="date" id="moving-date"  placeholder="dd-mm-yyyy" name="moving-date">
        <label for="origin">from : </label>
        <input type="text" id="origin" name="origin" placeholder="city name">
        <label for="destination">to : </label>
        <input type="text" id="destination" name="destination" placeholder="city name">
        <button type="submit" class="btn btn-sm btn-primary">Submit</button>
    </form>
</div>

<div class="container-fluid ">
    <table class="table table-bordered text-center">
        <thead class="thead-dark">
        <tr>
            <th  class="text-center" >moving date :
                <span th:if="${listTrip}" >
                    [[${listTrip.get(0).movingDate}]]
                </span>

            </th>
<!--            origin-->
<!--            destination-->
<!--            movingDate-->
            <th colspan="2" class="text-center">route :
                <span th:if="${listTrip}" >
                    [[${listTrip.get(0).origin}]]
                </span>
                -
                <span th:if="${listTrip}" >
                    [[${listTrip.get(0).destination}]]
                </span>
            </th>

        </tr>
        <tr>
            <th>trip id</th>
            <th>moving time</th>

            <th></th>
        </tr>
        <tbody>
    <tr th:if="${error}">
        <td colspan="3">
            <div class="alert alert-danger"> [[${error}]]</div>
        </td>
    </tr>
        <th:block th:each="trip : ${listTrip}">
            <tr>
                <td>[[${trip.id}]]</td>
                <td>[[${trip.movingTime}]]</td>

                <td>
                    <a class="h4 mr-3" th:href="@{'/ticket/buy/' +${trip.id}}">buy</a>
<!--                    <a class="h4" th:href="@{'/users/delete/' + ${trip.id}}">Delete</a>-->
                </td>
            </tr>
        </th:block>

        </tbody>


    </table>
</div>

</body>
</html>




